/* Basic styles for simplicity */

input[type="text"] {
    width: 180px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background: none;
    outline: none !important;

}

#searchBarWrapper {

    /* flex-wrap: wrap; */
    /* width: 200px; */
    gap: 3px;
}

.search-result {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

.search-result:focus {
    background-color: rgb(13, 13, 13);
}

.search-result__snippet {
    color: rgb(204, 204, 204);
}

.quick-result {
    background-color: rgb(40, 40, 40);
}

.quick-result:focus {
    background-color: rgb(25, 25, 25);
}

.search-result-image {
    max-width: 200px;
    max-height: 100px;
}

a {
    color: rgb(34, 34, 34);
}

/* NEW */

body {
    width: 240px;
    height: 294px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
}

.hidden {
    display: none !important;
}

#searchBarWrapper {
    display: flex;
    gap: 3px;
    margin: 10px 8px 8px 8px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(208, 208, 208);
}

#searchInput {
    background: url("/loupe_gray.png") no-repeat;
    background-size: 19px;
    background-position: 196px center;
    padding-right: 32px;
}

#searchInput:focus {
    background: url("/loupe_focus.png") no-repeat;
    background-size: 40px;
    background-position: 183px;
    padding-right: 42px;
}

#searchButton {
    width: 40px;
}


#searchInput,
#searchButton {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 3px 0px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 19px;
    line-height: 10px;
}

.quick-result,
.search-result {
    margin: 0;
    padding: 5px 11px 15px 11px;
}

.search-result {
    max-height: 270px;
    overflow: hidden;
}

.quick-result {
    background-color: rgb(242, 242, 242);
    color: rgb(34, 34, 34);
}


.search-result__title,
.quick-result__title {
    font-size: 18.864px;
    font-weight: 400;
}

.quick-result__title a {
    font-weight: 600;

    text-decoration: none;
}

.search-result__title a {
    color: rgb(0, 39, 142);
}

.quick-result__image {
    max-width: 230px;
    max-height: 100px;
}

.search-result__snippet {
    color: rgb(73, 73, 73);
}

.search-result__url {
    color: rgb(32, 105, 43);
    white-space: nowrap;
    overflow: hidden;
}

.search-result__url::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: var(--icon-url);
    background-size: cover;
    background-position: center;
    margin-right: 8px;
    z-index: 100000000;
}

.quick-result:focus,
.search-result:focus {
    outline: 1px solid red;
    background-color: #d3d3d3 !important;
}

/*  selection modal thinggy */
#selectionsWrapper {
    height: 294px;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(210, 210, 210, 0.6)
}

#selectionDiv {
    background-color: rgb(255, 255, 255);
    width: 220px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: auto; */
    border-radius: 8px;
    border: 1px solid rgba(34, 34, 34, 0.35);
    overflow: hidden;
}

#selectionHeader {
    background-color: rgb(237, 237, 237);
    color: rgb(24, 24, 24);
    padding: 8px 12px 10px 12px;
    font-size: 16px;
    font-weight: 400;
}

#selectionOptions {
    padding: 6px 6px 8px 6px;
    /* min-height: 100px; */
    display: flex;
    flex-direction: column;
}

.selectionOption {
    outline: none;
    border: none;
    text-align: left;
    padding: 7px 8px;
    font-size: 17px;
    color: rgb(48, 48, 48);
}

.selectionOption:focus {
    background-color: rgb(227, 227, 227);
    color: rgb(34, 34, 34);
    font-weight: 600;

    outline-style: none;
}

/*  softkeys */

#softkeys {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 16px;
    padding: 0 3.5px 4px 3.5px;
}

#softkeys div {
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 0.3px 6.5px;
    line-height: 23px;
    box-shadow: rgba(0, 0, 0, 0.31) 1.1px 1.9px 3.5px 0.8px;
    max-width: 33%;
    overflow: hidden;
    text-overflow: clip;
}

#softkeys div.hidden {
    display: block !important;
    opacity: 0;
}

#left {
    text-align: left;
}

#center {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 2px 5px !important;
    max-width: 35%;

}

#right {
    text-align: right;
}